@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: unset;
  padding: unset;

  box-sizing: border-box;
}
input {
  all: unset;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 50px;
  background-color: white;
}

.search {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 50px;
}

.input {
  transition: width 0.3s ease;

  border: none;
  width: 0;

  font-size: 18px;
  text-decoration: none;
}

.container.active .input {
  width: 150px;

  padding: 15px;
}
