body {
  margin: unset;
  padding: unset;
}

h3 {
}
img {
  vertical-align: top;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  box-shadow: inset 0 0 10px blue;
  width: 90vw;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.image {
  border-radius: 50px;
  height: 80vh;
}

.image::after {
  content: "Explore The World";
}
